.search-box {
    background-color: var(--color-white);
    height: 48px;
    width: 400px;
}

.search-box input[type='text'] {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-pill);
    border: none;
    width: 100%;
    padding-left: 40px;
    color: var(--gray-100);
}

.search-box input[type='text']:focus {
    border: 1px solid var(--surface-variant);
    box-shadow: none !important;
    outline: none !important;
    color: var(--color-dark);
}


.search-box input::placeholder {
    color: var(--surface-variant);
}
@media (max-width: 767.98px) {
    .search-box {
        width: 300px;
    }}