.search-box {
    background-color: var(--color-white);
    height: 48px;
    width: clamp(50px, 30vw, 400px);
}

.search-box input[type='text'] {
    font-family: var(--font-family-cairo);
    font-size: var(--font-size-base);
    border-radius: var(--border-radius-pill);
    border: none;
    width: 100%;
    padding-left: 40px;
    color: var(--gray-100);
}

.search-box input[type='text']:focus {
    border: 1px solid var(--surface-variant);
    box-shadow: none !important;
    outline: none !important;
    color: var(--color-dark);
}


.search-box input::placeholder {
    color: var(--surface-variant);
}

/* @media (min-width: 769px) and (max-width: 1024px) {
    .search-box {
        width: 250px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .input-group.search-box {
        width: 100px !important;
      }
    
} */

@media (min-width: 576px) and (max-width: 767px) {
    .search-box {
        height: 40px;
        width: 200px;
    }

}

@media (max-width: 575px) {
    .search-box {
        width: 300px;
    }

}