<!-- User Info -->
<div class="d-flex align-items-center gap-2 bg-white rounded-pill px-3 py-1 shadow-sm">
    <img src="assets/sidebar-icons-active/trainer.svg" alt="user" class="rounded-circle" width="36" height="36">
    <div class="d-flex flex-column justify-content-center">
        <span class="fw-medium text-dark" style="font-size: 14px;">Alex meian</span>
        <span class="text-muted" style="font-size: 12px;">Club manager</span>
    </div>
    <i class="fa-solid fa-caret-down" style="color: var(--surface-variant);"></i>
</div>