.layout-wrapper {
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

/* Sidebar */
.sidebar-wrapper {
    padding: 0.7rem 0 0.7rem 0.7rem;
}

.sidebar {
    width: 300px;
    height: 100%;
    border-radius: var(--border-radius-3xl);
    background: var(--gradient-primary-vertical);
    color: var(--color-white);
    position: relative;
    overflow: hidden;
}

.offcanvas {
    width: 260px;
    height: 100%;
    border-top-right-radius: var(--border-radius-3xl);
    border-bottom-right-radius: var(--border-radius-3xl);
    background: var(--gradient-primary-vertical);
    color: var(--color-white);
    overflow: hidden;
}

.fa-bars {
    font-size: 1.5rem;
    color: var(--primary);
}

/* Topbar */
.topbar {
    height: auto;
    margin: 0.5rem 0.7rem 0.7rem;
    background-color: var(--color-body);
    padding: 1.5rem 1.5rem 0;
}

/* Content Box */
.content-box {
    background-color: var(--color-white);
    margin: 0.7rem;
    border-radius: var(--border-radius-xl);
    padding: 1.5rem;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-area {
    flex-grow: 1;
    overflow: auto;
}

@media (min-width: 1025px) and (max-width: 1440px) {

    /* Sidebar */
    .sidebar-wrapper {
        padding: 0.5rem 0 0.5rem 0.5rem;
    }

    .sidebar {
        width: 260px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* Sidebar */
    .sidebar-wrapper {
        padding: 0.3rem 0 0.3rem 0.3rem;
    }

    .sidebar {
        width: 230px;
    }

    /* Topbar */
    .topbar {
        margin: 0rem 0.3rem 0.3rem;
        padding: 1rem 1.5rem 0;
    }
}

@media (max-width: 767px) {
    .sidebar-wrapper {
        display: none;
    }

    .topbar {
        margin: 0.5rem 0rem 0rem;
        padding-bottom: 0 !important;
    }
}